<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Витрина товаров</title>
</head>

<body>
<a href="/posts" style="float:right;">
    <b>НА ГЛАВНУЮ &cudarrr;</b>
</a>
<form method="POST" th:action="${post==null ? '/posts' : '/posts/'+post.getId()}" enctype="multipart/form-data">
    <table style="width:50%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <h3>Название</h3>
                <textarea rows="2" style="width: 100%;" name="title" th:text="${post==null ? '' : post.getTitle()}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Изображение</h3>
                <input type="file" name="image">
            </td>
        </tr>
        <tr>
            <td>
                <h3>Теги</h3>
                <textarea rows="2" style="width: 100%;" name="tags" th:text="${post==null ? '' : post.getTagsAsText()}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Текст</h3>
                <textarea rows="30" style="width: 100%;" name="text" th:text="${post==null ? '' : post.getText()}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <button style="float:right;" th:text="${post==null ? 'Сохранить' : 'Редактировать'}"></button>
            </td>
        </tr>
    </table>
</form>
</body>